include partials/heading
.col-lg-12.text-center
  #banner
    hr
    a(href='/signup')
      .btn.btn-lg.btn-primary Get Started
    hr
  #info
    .row
      .col-lg-12
        h1 Context-Aware
        p.lead Tailored search results utilising contextual user profile information.
        .i.info-icon
          .fa.fa-eye
    hr
    .row
      .col-lg-12
        h1 Video
        p.lead Search for videos with multi-modal queries, including in-video image search.
        .i.info-icon
          .fa.fa-youtube-play
    hr
    .row
      .col-lg-12
        h1 Retrieval
        p.lead Adaptive and relevant results that learn your preferences.
        .i.info-icon
          .fa.fa-list-ol
